/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* ===== ЦВЕТА И ФОН ===== */
  /* Основные цвета */
  --td__background-color: #000028;
  --td__main_text_font-color: #F1B2CE;
  --td__font_title_font-color: #000028;
  --td__main_title_font-color: #FF0070;
  --td__shadow_color__and__background-color: #FF0070;
  --td__header__and__footer_title_font_font-color: #DB00FF;
  --td__border-color: #FF0070;
  --td__transparent-border-color: #FF007066;
  --td__top_right_corner_dot_visibility: visible;
  
  /* Фоновые изображения */
  --td__page_background-image: url('../images/cover-image-dark.png');
}
