/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* ===== ЦВЕТА И ФОН ===== */
  /* Основные цвета */
  --td__background-color: #FFF1F7;
  --td__main_text_font-color: #353430;
  --td__font_title_font-color: #353430;
  --td__main_title_font-color: #353430;
  --td__shadow_color__and__background-color: #FF8DCB;
  --td__header__and__footer_title_font_font-color: #FFC2E6;
  --td__border-color: #353430;
  --td__transparent-border-color: #32312D66;
  --td__top_right_corner_dot_visibility: hidden;
  
  /* Фоновые изображения */
  --td__page_background-image: url('../images/cover-image-light.png');
}
