html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.page {
  justify-self: center;
  background-color: var(--td__background-color);
  block-size: 100vh;
  margin: 0;
  box-sizing: border-box;
  overflow-y: scroll;
  scrollbar-width: none;
  background-image: var(--td__page_background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.header {
  padding: var(--sd__padding_size);
  box-sizing: border-box;
  inline-size: 100%;
  block-size: 100%;
  position: relative;
  display: grid;
  grid-template-rows: var(--header_grid-template-rows);
  grid-template-columns: var(--header_grid-template-columns);
  align-items: center;
  margin: 0;
  margin-bottom: var(--header_bottom-margin);
}

.header_theme-menu-button,
.header_theme-menu-button:active,
.header_theme-menu-button:disabled,
.header_theme-menu-button:hover {
  margin: 0;
  padding: 0;
}

.header_theme-menu-button {
  font-size: var(--font_font-size);
  font-family: var(--font_font-family);
  letter-spacing: var(--font_letter-spacing);
  color: var(--td__main_title_font-color);
  font-weight: var(--font_font-weight);
  line-height: 1;
  text-align: center;
  inline-size: 70px;
  block-size: 26px;
  border: none;
  outline: none;
  border-radius: 0;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_theme-menu-button:disabled,
.header_theme-menu-button:active,
.header_theme-menu-button:hover {
  transform: none;
  padding: 0;
}

.header_theme-menu-button:disabled,
.header_theme-menu-button:disabled:hover {
  outline: none;
  border: var(--button_default_active_border);
  color: var(--td__main_title_font-color);
}

.header_theme-menu-button:focus {
  border-bottom: 1px solid var(--button_hover_bottom-border_color);
  outline: none;
}

.header_theme-menu-button:hover {
  border: var(--button_hover_border);
}

.header_theme-menu {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  block-size: 100%;
  inline-size: 100%;
  grid-row: var(--header_theme-menu_grid-row);
  grid-column: var(--sd__header_theme-menu_grid-column);
}

.header_theme-menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: var(--sd__header_theme-menu-list_flex-direction);
  align-self: var(--sd__header_theme-menu-list_align-self);
  justify-self: var(--sd__header_theme-menu-list_justify-self);
  gap: 10px;
}

.header_title {
  font-family: var(--font_font-family);
  letter-spacing: var(--font_letter-spacing);
  line-height: 0.83;
  font-weight: var(--font_bold_font-weight);
  color: var(--td__header__and__footer_title_font_font-color);
  font-size: var(--sd__header__and__footer_font_font-size);
  text-shadow: var(--header_font_shadow_params);
  text-wrap: wrap;
  margin: 0;
  grid-row: var(--header_title_grid-row);
  grid-column: var(--sd__header_title_grid-column)
}

.header_text {
  margin: 0;
  font-size: var(--font_font-size);
  font-family: var(--font_font-family);
  letter-spacing: var(--font_letter-spacing);
  color: var(--td__font_title_font-color);
  background-color: var(--text_background-color);
  font-weight: var(--font_bold_font-weight);
  line-height: var(--font_line-height);
  word-wrap: normal;
  grid-column: var(--sd__header_text_grid-column);
  grid-row: var(--sd__header_text_grid-row)
}

.top_right_corner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: var(--header_corner_size);
  block-size: var(--header_corner_size);
  background-color: inherit;
  border-top: var(--angle_border);
  border-right: var(--angle_border);
}

.bottom_left_corner {
  inline-size: var(--header_corner_size);
  block-size: var(--header_corner_size);
  position: absolute;
  bottom: var(--sd__padding_size);
  left: var(--sd__padding_size);
  background-color: inherit;
  border-bottom: var(--angle_border);
  border-left: var(--angle_border);
}

.header_top_right_corner_dot {
  border-radius: 50%;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--td__main_title_font-color);
  box-shadow: 0px 0px 4px var(--td__main_title_font-color);
  visibility: var(--td__top_right_corner_dot_visibility);
}

.top_right_corner_box {
  color: inherit;
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  background-color: inherit;
  top: var(--sd__padding_size);
  right: var(--sd__padding_size);
  gap: 2px;
}

.header_top_right_text {
  color: var(--td__main_title_font-color);
  margin: 0;
  font-size: var(--font_font-size);
  font-family: var(--font_font-family);
  letter-spacing: var(--font_letter-spacing);
  font-weight: var(--font_font-weight);
  background-color: inherit;
  visibility: var(--td__top_right_corner_dot_visibility);
  
}

.main {
  box-sizing: border-box;
  inline-size: 100%;
  padding: 0 var(--sd__padding_size);
  display: flex;
  flex-direction: column;
  gap: var(--sd__main_gap);
}

.main_block_style_vertical {
  display: grid;
  gap: 20px;
  grid-template-columns: var(--sd__main_block_style_vertical_grid-template-columns);
  grid-template-rows: var(--sd__main_block_style_vertical_grid-template-rows);
}

.main_block_style_horizontal {
  display: grid;
  gap: 20px;
  grid-template-columns: var(--sd__main_block_style_horizontal_grid-template-columns);
  grid-template-rows: var(--sd__main_block_style_horizontal_grid-template-rows);
}

.main_block_style_vertical_title {
  padding: 0;
  margin: 0;
  font-size: var(--font_font-size);
  font-family: var(--font_font-family);
  letter-spacing: var(--font_letter-spacing);
  color: var(--td__main_title_font-color);
  font-weight: var(--font_bold_font-weight);
  line-height: var(--font_line-height);
  grid-row: var(--sd__main_block_style_vertical_title_grid-row);
  grid-column: var(--sd__main_block_style_vertical_title_grid-column);
}

.main_block_style_horizontal_title {
  padding: 0;
  margin: 0;
  font-size: var(--font_font-size);
  font-family: var(--font_font-family);
  letter-spacing: var(--font_letter-spacing);
  color: var(--td__main_title_font-color);
  font-weight: var(--font_bold_font-weight);
  line-height: var(--font_line-height);
  grid-row: var(--sd__main_block_style_horizontal_title_grid-row);
  grid-column: var(--sd__main_block_style_horizontal_title_grid-column);
}

.main_block_style_vertical_inner {
  grid-row: var(--sd__main_block_style_vertical_inner_grid-row);
  grid-column: var(--sd__main_block_style_vertical_inner_grid-column);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main_block_style_horizontal_inner {
  grid-row: var(--sd__main_block_style_horizontal_inner_grid-row);
  grid-column: var(--sd__main_block_style_horizontal_inner_grid-column);
  display: grid;
  grid-template-rows: var(--sd__main_block_style_horizontal_inner_grid-template-rows);
  grid-template-columns: var(--sd__main_block_style_horizontal_inner_grid-template-columns);
  gap: 20px;
}

.main_block_inner_block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main_block_inner_block_title {
  padding: 0;
  margin: 0;
  font-size: var(--font_font-size);
  font-family: var(--font_font-family);
  letter-spacing: var(--font_letter-spacing);
  color: var(--td__font_title_font-color);
  font-weight: var(--font_bold_font-weight);
  line-height: var(--font_line-height);
  background-color: var(--text_background-color);
  width: 100%;
}

.main_block_inner_block_title__expand__secondary {
  font-weight: var(--font_font-weight);
}

.main_block_inner_block_text {
  padding: 0;
  margin: 0;
  font-size: var(--font_font-size);
  font-family: var(--font_font-family);
  letter-spacing: var(--font_letter-spacing);
  color: var(--td__main_text_font-color);
  font-weight: var(--font_font-weight);
  line-height: var(--font_line-height);
  width: 100%;
  text-wrap: wrap;
}

.main_images-block {
  display: flex;
  flex-direction: column;
  gap: var(--sd__main_images-block_gap);
}

.main_images-block_title {
  padding: 0;
  margin: 0;
  font-size: var(--font_font-size);
  font-family: var(--font_font-family);
  letter-spacing: var(--font_letter-spacing);
  color: var(--td__font_title_font-color);
  font-weight: var(--font_bold_font-weight);
  line-height: var(--font_line-height);
  background-color: var(--text_background-color);
  width: 100%;
}

.main_images-block_images {
  display: grid;
  gap: var(--sd__main_images-block_gap);
  width: 100%;
  grid-template-rows: var(--sd__main_images-block_images_grid-template-rows);
  grid-template-columns: var(--sd__main_images-block_images_grid-template-columns);
}

.main_images-block_images_image {
  place-self: stretch;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  padding: var(--sd__padding_size);
  box-sizing: border-box;
  inline-size: 100%;
  block-size: 100%;
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: var(--footer_top-margin);
}


.footer_title {
  font-family: var(--font_font-family);
  letter-spacing: var(--font_letter-spacing);
  line-height: 0.83;
  font-weight: var(--font_bold_font-weight);
  color: var(--td__header__and__footer_title_font_font-color);
  font-size: var(--sd__header__and__footer_font_font-size);
  text-shadow: var(--footer_font_shadow_params);
  text-wrap: wrap;
  margin: 0;
  grid-row: var(--header_title_grid-row);
  grid-column: var(--sd__header_title_grid-column)
}


.main_text_link {
  padding: 0;
  margin: 0;
  font-size: var(--font_font-size);
  font-family: var(--font_font-family);
  letter-spacing: var(--font_letter-spacing);
  color: var(--td__main_text_font-color);
  font-weight: var(--font_font-weight);
  line-height: var(--font_line-height);
  text-shadow: 2px 2px 0 var(--text_shadow_color);
  text-decoration: none;
}

.main_text_link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.main_text_link:focus {
  border-radius: 0;
  outline: 1px solid var(--td__main_text_font-color);
  outline-offset: 2px;
}


@media (prefers-color-scheme: dark) {
  :root {
    /* ===== ЦВЕТА И ФОН ===== */
    /* Основные цвета */
    --td__background-color: #000028;
    --td__main_text_font-color: #F1B2CE;
    --td__font_title_font-color: #000028;
    --td__main_title_font-color: #FF0070;
    --td__shadow_color__and__background-color: #FF0070;
    --td__header__and__footer_title_font_font-color: #DB00FF;
    --td__border-color: #FF0070;
    --td__transparent-border-color: #FF007066;
    --td__top_right_corner_dot_visibility: visible;
    
    /* Фоновые изображения */
    --td__page_background-image: url('../images/cover-image-dark.png');
  }
}

@media (width >= 768px) {
  :root {
    --sd__header__and__footer_font_font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --sd__padding_size: 20px;
    --sd__header_bottom__and__footer_top_margin: 60px;
    --sd__header_template-columns-count: 2;
    --sd__header_theme-menu_grid-column: 1 / span 2;
    --sd__header_title_grid-column: 1 / span 2;
    --sd__header_text_grid-column: 2 / span 1;

    --sd__main_block_style_vertical_grid-template-columns: repeat(3, 1fr);
    --sd__main_block_style_vertical_grid-template-rows: 1fr;

    --sd__main_block_style_horizontal_grid-template-columns: repeat(3, 1fr);
    --sd__main_block_style_horizontal_grid-template-rows: min-content min-content

    --sd__main_block_style_horizontal_title_grid-row: 1 / span 1;
    --sd__main_block_style_horizontal_title_grid-column: 1 / span 1;

    --sd__main_block_style_horizontal_inner_grid-row: 2 / span 1;
    --sd__main_block_style_horizontal_inner_grid-column: 1 / span 3;

    --sd__main_block_style_vertical_title_grid-row: 1 / span 1;
    --sd__main_block_style_vertical_title_grid-column: 1 / span 1;

    --sd__main_block_style_vertical_inner_grid-row: 1 / span 1;
    --sd__main_block_style_vertical_inner_grid-column: 2 / span 2;

    --sd__main_images-block_images_grid-template-columns: repeat(3, 1fr);
    --sd__main_images-block_images_grid-template-rows: min-content 1fr min-content;

    --sd__main_images-block_gap: 20px;
  }

  .header_title {
    position: relative;
    left: calc(-1 * var(--sd__padding_size));
  }

  .main_images-block_images_image:nth-of-type(1) {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
  }

  .main_images-block_images_image:nth-of-type(2) {
    grid-row: 1 / span 2;
    grid-column: 3 / span 1;
  }

  .main_images-block_images_image:nth-of-type(3) {
    grid-row: 2 / span 2;
    grid-column: 1 / span 1;
  }

  .main_images-block_images_image:nth-of-type(4) {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }

  .main_images-block_images_image:nth-of-type(5) {
    grid-row: 3 / span 1;
    grid-column: 2 / span 2;
  }
}


@media (width >= 1024px) {
  :root {
    --sd__header_theme-menu-list_flex-direction: row;
    --sd__header_theme-menu-list_align-self: start;
    --sd__header_theme-menu-list_justify-self: center;
    --sd__main_block_style_horizontal_inner_flex-direction: row;

    --sd__main_block_style_horizontal_inner_grid-template-rows: 1fr;
    --sd__main_block_style_horizontal_inner_grid-template-columns: repeat(3, 1fr);
  }
}